@import "~bootstrap/scss/bootstrap";
@import "bootstrap";

/********** COMMON **********/
// vars
$header-height: 60px;
$primary-blue: rgb(34 158 243);

// body background
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url(/public/crm_logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(0.1);

    width: 100%;
    height: 100%
}

/********** SPECIFIC **********/
// navabar size
.navbar {
    height: $header-height;
}
// jumbotron size
.jumbotron {
    height: calc(100vh - $header-height);
    .container {
        height: calc(100vh - $header-height);
        color: $primary-blue;
    }
}
// jumbotron arrow
.arrow {
    margin-top: 50px;
    transform: rotate(180deg);
    cursor: pointer;
}
.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid $primary-blue;
    border-right: 5px solid $primary-blue;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}