@import "bootstrap";
/********** COMMON **********/
// util
$header-height: 60px;
// palette
$primary-blue: rgb(34, 158, 243);
$secondary-blue: rgb(12, 76, 186);
$secondary-blue-transparent: rgba(12, 76, 186, 0.8);
// body background
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    background-image: url(/public/crm_logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(0.1);
    
    width: 100%;
    height: 100%
}
// partials
@import './partials/navbar';
@import './partials/jumbotron';
