// Header
.navbar-brand {
    img {
        height: $header-height;
    }
}
.navbar-brand:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: $primary-blue!important;
}
.navbar-nav {
    .nav-link:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        color: $primary-blue!important;
    }
}

.navbar-toggler {
    padding: 0.3rem;
    border: 2px solid white;
    .custom-toggler-icon {
        color: white;
    }
}
.navbar-toggler:focus {
    box-shadow: 0 0 10px white!important;
}
// Sidebar 
#sidebarMenu {
    height: calc(100vh - $header-height);
    background-color: $secondary-blue;
    .ms-active {
        color: $primary-blue!important;
    }
    .nav-link:hover {
        transform: translateX(10%);
        transition: all 0.3s ease;
        color: $primary-blue!important;
    }
}

main {
    height: calc(100vh - $header-height);
    overflow: scroll;
}